<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<h2>Liste de periode_paie</h2>
<a  class="btn btn-primary" th:href='@{/periode_paie/create}'>Créer</a>
<table  class="table table-hover" >
<thead><tr>
<th>id</th>
<th>mois</th>
<th>annee</th>
<th>date_debut</th>
<th>date_fin</th>
<th>statut</th>
<th>Approved by Admin :  </th>
<th>date_generation</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${periode_paies}'>
<td th:text='${row.id}'></td>
<td th:text='${row.mois}'></td>
<td th:text='${row.annee}'></td>
<td th:text='${row.date_debut}'></td>
<td th:text='${row.date_fin}'></td>
<td th:text='${row.status_general.name}'></td>
<td th:text='${row.admin.username}'></td>
<td th:text='${row.date_generation}'></td>
<td>
<a  class="btn btn-warning" th:href='@{/periode_paie/edit/{id}(id=${row.id})}'>Edit</a> | <a  class="btn btn-danger" th:href='@{/periode_paie/delete/{id}(id=${row.id})}'>Delete</a>
</td></tr>
</tbody></table> </div> </body></html>