<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<div class="card">
<h5 class='card-header'>Créer Salaire_employee</h5>
<div class="card-body">
<form th:action='@{/salaire_employee/save}' th:object='${salaire_employee}' method='post'>
  <div class='mb-4'>
    <label class='form-label' for='admin_id'>Admin_id</label>
    <select class='form-select' th:field='*{admin}'>
      <option th:each='item : ${admins}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='employee_id'>Employee_id</label>
    <select class='form-select' th:field='*{employee}'>
      <option th:each='item : ${employees}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='salaire'>Salaire</label>
    <input type='number' class='form-control' id='salaire' th:field='*{salaire}' placeholder='salaire...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='motif_modification'>Motif modification</label>
    <input type='text' class='form-control' id='motif_modification' th:field='*{motif_modification}' placeholder='motif_modification...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='date_attribution'>Date attribution</label>
    <input type='date' class='form-control' id='date_attribution' th:field='*{date_attribution}' placeholder='date_attribution...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='date_fin'>Date fin</label>
    <input type='date' class='form-control' id='date_fin' th:field='*{date_fin}' placeholder='date_fin...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='est_actif'>Est actif</label>
    <input type='checkbox' class='form-check-input' id='est_actif' th:field='*{est_actif}'>
  </div>
  <div class='mt-3'>
    <button type='submit' class='btn btn-primary'>Enregistrer</button>
  </div>
</form>
</div>
</div>
</div>
</body>
</html>