<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<div class="card">
<h5 class='card-header'>Créer Pointage</h5>
<div class="card-body">
<form th:action='@{/pointage/save}' th:object='${pointage}' method='post'>
  <div class='mb-4'>
    <label class='form-label' for='employee_id'>Employee_id</label>
    <select class='form-select' th:field='*{employee}'>
      <option th:each='item : ${employees}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='date_pointage'>Date pointage</label>
    <input type='date' class='form-control' id='date_pointage' th:field='*{date_pointage}' placeholder='date_pointage...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='id_horaire'>Id_horaire</label>
    <select class='form-select' th:field='*{detail_horaire}'>
      <option th:each='item : ${detail_horaires}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='heure_normal'>Heure normal</label>
    <input type='number' class='form-control' id='heure_normal' th:field='*{heure_normal}' placeholder='heure_normal...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='heure_supplementaire'>Heure supplementaire</label>
    <input type='number' class='form-control' id='heure_supplementaire' th:field='*{heure_supplementaire}' placeholder='heure_supplementaire...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='heure_retard'>Heure retard</label>
    <input type='number' class='form-control' id='heure_retard' th:field='*{heure_retard}' placeholder='heure_retard...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='date_enregistrement'>Date enregistrement</label>
    <input type='time' class='form-control' id='date_enregistrement' th:field='*{date_enregistrement}' placeholder='date_enregistrement...'>
  </div>
  <div class='mt-3'>
    <button type='submit' class='btn btn-primary'>Enregistrer</button>
  </div>
</form>
</div>
</div>
</div>
</body>
</html>