<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<h2>Edit pointage</h2>
<form th:action='@{/pointage/update}' th:object='${pointage}' method='post'>
id: <input type='text' th:field='*{id}'/><br/>
employee_id: <select th:field='*{employee_id}'>
<option th:each='item : ${employees}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${pointage.employee_id.id}'></option>
</select><br/>
date_pointage: <input type='text' th:field='*{date_pointage}'/><br/>
id_horaire: <select th:field='*{id_horaire}'>
<option th:each='item : ${detail_horaires}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${pointage.id_horaire.id}'></option>
</select><br/>
heure_normal: <input type='text' th:field='*{heure_normal}'/><br/>
heure_supplementaire: <input type='text' th:field='*{heure_supplementaire}'/><br/>
heure_retard: <input type='text' th:field='*{heure_retard}'/><br/>
date_enregistrement: <input type='text' th:field='*{date_enregistrement}'/><br/>
<button type='submit'>Mettre à jour</button></form></div> </body></html>