<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<div class="card">
<h5 class='card-header'>Créer Conge</h5>
<div class="card-body">
<form th:action='@{/conge/save}' th:object='${conge}' method='post'>
  <div class='mb-4'>
     <label class='form-label' for='admin_id'>Admin</label>
    <select class='form-select' th:field='*{admin}'>
      <option th:each='item : ${admins}' th:value='${item.id}' th:text='${item.username}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='employee_id'>Employee_id</label>
    <select class='form-select' th:field='*{employee}'>
      <option th:each='item : ${employees}' th:value='${item.id}' th:text='${item.username}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='type_conge_id'>Type_conge_id</label>
    <select class='form-select' th:field='*{type_conge}'>
      <option th:each='item : ${type_conges}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='nb_jours'>Nb jours</label>
    <input type='number' class='form-control' id='nb_jours' th:field='*{nb_jours}' placeholder='nb_jours...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='commentaire'>Commentaire</label>
    <input type='text' class='form-control' id='commentaire' th:field='*{commentaire}' placeholder='commentaire...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='date_demande'>Date demande</label>
    <input type='datetime-local' class='form-control' id='date_demande' th:field='*{date_demande}' placeholder='date_demande...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='date_debut'>Date debut</label>
    <input type='date' class='form-control' id='date_debut' th:field='*{date_debut}' placeholder='date_debut...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='date_fin'>Date fin</label>
    <input type='date' class='form-control' id='date_fin' th:field='*{date_fin}' placeholder='date_fin...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='statut_id'>Statut_id</label>
    <select class='form-select' th:field='*{status_general}'>
      <option th:each='item : ${status_generals}' th:value='${item.id}' th:text='${item.name}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='date_validation'>Date validation</label>
    <input type='datetime-local' class='form-control' id='date_validation' th:field='*{date_validation}' placeholder='date_validation...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='reference_demande'>Reference demande</label>
    <input type='text' class='form-control' id='reference_demande' th:field='*{reference_demande}' placeholder='reference_demande...'>
  </div>
  <div class='mt-3'>
    <button type='submit' class='btn btn-primary'>Enregistrer</button>
  </div>
</form>
</div>
</div>
</div>
</body>
</html>