<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<h2>Edit conge</h2>
<form th:action='@{/conge/update}' th:object='${conge}' method='post'>
id: <input type='text' th:field='*{id}'/><br/>
admin_id: <select th:field='*{admin_id}'>
<option th:each='item : ${admins}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${conge.admin_id.id}'></option>
</select><br/>
employee_id: <select th:field='*{employee_id}'>
<option th:each='item : ${employees}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${conge.employee_id.id}'></option>
</select><br/>
type_conge_id: <select th:field='*{type_conge_id}'>
<option th:each='item : ${type_conges}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${conge.type_conge_id.id}'></option>
</select><br/>
nb_jours: <input type='text' th:field='*{nb_jours}'/><br/>
commentaire: <input type='text' th:field='*{commentaire}'/><br/>
date_demande: <input type='text' th:field='*{date_demande}'/><br/>
date_debut: <input type='text' th:field='*{date_debut}'/><br/>
date_fin: <input type='text' th:field='*{date_fin}'/><br/>
statut_id: <select th:field='*{statut_id}'>
<option th:each='item : ${status_generals}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${conge.statut_id.id}'></option>
</select><br/>
date_validation: <input type='text' th:field='*{date_validation}'/><br/>
reference_demande: <input type='text' th:field='*{reference_demande}'/><br/>
<button type='submit'>Mettre à jour</button></form></div> </body></html>