<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<h2>Demandes de congé à valider</h2>
<table class="table table-hover">
<thead><tr>
<th>id</th>
<th>Employee</th>
<th>Type de congé</th>
<th>Nb jours</th>
<th>Date début</th>
<th>Date fin</th>
<th>Commentaire</th>
<th>Référence</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${conges}'>
<td th:text='${row.id}'></td>
<td th:text='${row.employee.username}'></td>
<td th:text='${row.type_conge != null ? row.type_conge.libelle : "N/A"}'></td>
<td th:text='${row.nb_jours}'></td>
<td th:text='${row.date_debut}'></td>
<td th:text='${row.date_fin}'></td>
<td th:text='${row.commentaire}'></td>
<td th:text='${row.reference_demande}'></td>
<td>
<form th:action='@{/conge/valider-superviseur/{id}(id=${row.id})}' method='post' style='display:inline;'>
<select name='statutId' class='form-select form-select-sm' style='display:inline-block; width:auto;'>
<option th:each='statut : ${status_generals}' th:value='${statut.id}' th:text='${statut.name}'></option>
</select>
<button type='submit' class='btn btn-sm btn-primary'>Valider</button>
</form>
</td></tr>
</tbody></table>
</div>
</body>
</html>

