<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<div class="card">
<h5 class='card-header'>Créer Heure_supplementaire</h5>
<div class="card-body">
<form th:action='@{/heure_supplementaire/save}' th:object='${heure_supplementaire}' method='post'>
  <div class='mb-4'>
    <label class='form-label' for='employee_id'>Employee_id</label>
    <select class='form-select' th:field='*{employee}'>
      <option th:each='item : ${employees}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='pointage_id'>Pointage_id</label>
    <select class='form-select' th:field='*{pointage}'>
      <option th:each='item : ${pointages}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='config_id'>Config_id</label>
    <select class='form-select' th:field='*{config_heure_supplementaire}'>
      <option th:each='item : ${config_heure_supplementaires}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='nb_heures'>Nb heures</label>
    <input type='number' class='form-control' id='nb_heures' th:field='*{nb_heures}' placeholder='nb_heures...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='type_compensation'>Type_compensation</label>
    <select class='form-select' th:field='*{type_compensation}'>
      <option th:each='item : ${type_compensations}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='statut_id'>Statut_id</label>
    <select class='form-select' th:field='*{status_general}'>
      <option th:each='item : ${status_generals}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='admin_id'>Admin_id</label>
    <select class='form-select' th:field='*{admin}'>
      <option th:each='item : ${admins}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='commentaire'>Commentaire</label>
    <input type='text' class='form-control' id='commentaire' th:field='*{commentaire}' placeholder='commentaire...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='date_validation'>Date validation</label>
    <input type='time' class='form-control' id='date_validation' th:field='*{date_validation}' placeholder='date_validation...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='date_creation'>Date creation</label>
    <input type='time' class='form-control' id='date_creation' th:field='*{date_creation}' placeholder='date_creation...'>
  </div>
  <div class='mt-3'>
    <button type='submit' class='btn btn-primary'>Enregistrer</button>
  </div>
</form>
</div>
</div>
</div>
</body>
</html>