<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<h2>Liste de heure_supplementaire</h2>
<a  class="btn btn-primary" th:href='@{/heure_supplementaire/create}'>Créer</a>
<table  class="table table-hover" >
<thead><tr>
<th>id</th>
<th>Employee </th>
<th>pointage_id</th>
<th>config_id</th>
<th>nb_heures</th>
<th>type_compensation</th>
<th> Status </th>
<th>Approved by Admin :  </th>
<th>commentaire</th>
<th>date_validation</th>
<th>date_creation</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${heure_supplementaires}'>
<td th:text='${row.id}'></td>
<td th:text='${row.employee.username}'></td>
<td th:text='${row.pointage}'></td>
<td th:text='${row.config_heure_supplementaire}'></td>
<td th:text='${row.nb_heures}'></td>
<td th:text='${row.type_compensation}'></td>
<td th:text='${row.status_general.name}'></td>
<td th:text='${row.admin.username}'></td>
<td th:text='${row.commentaire}'></td>
<td th:text='${row.date_validation}'></td>
<td th:text='${row.date_creation}'></td>
<td>
<a  class="btn btn-warning" th:href='@{/heure_supplementaire/edit/{id}(id=${row.id})}'>Edit</a> | <a  class="btn btn-danger" th:href='@{/heure_supplementaire/delete/{id}(id=${row.id})}'>Delete</a>
</td></tr>
</tbody></table> </div> </body></html>