<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<h2>Liste de parametre_pointage</h2>
<a th:href='@{/parametre_pointage/create}'>Créer</a>
<table  class="table table-hover" >
<thead><tr>
<th>id</th>
<th>pause_non_payee</th>
<th>retard_rattrapable</th>
<th>seuil_retard</th>
<th>travail_weekend</th>
<th>validation_automatique</th>
<th>date_modification</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${parametre_pointages}'>
<td th:text='${row.id}'></td>
<td th:text='${row.pause_non_payee}'></td>
<td th:text='${row.retard_rattrapable}'></td>
<td th:text='${row.seuil_retard}'></td>
<td th:text='${row.travail_weekend}'></td>
<td th:text='${row.validation_automatique}'></td>
<td th:text='${row.date_modification}'></td>
<td>
<a th:href='@{/parametre_pointage/edit/{id}(id=${row.id})}'>Edit</a> | <a th:href='@{/parametre_pointage/delete/{id}(id=${row.id})}'>Delete</a>
</td></tr>
</tbody></table> </div> </body></html>