<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/template1}">
<body>
<div layout:fragment="content">
<div class="card">
<h5 class='card-header'>Créer Employee</h5>
<div class="card-body">
<form th:action='@{/employee/save}' th:object='${employee}' method='post'>
  <div class='mb-4'>
    <label class='form-label' for='role_id'>Role_id</label>
    <select class='form-select' th:field='*{role}'>
      <option th:each='item : ${roles}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='departement_id'>Departement_id</label>
    <select class='form-select' th:field='*{departement}'>
      <option th:each='item : ${departements}' th:value='${item.id}' th:text='${item}'></option>
    </select>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='username'>Username</label>
    <input type='text' class='form-control' id='username' th:field='*{username}' placeholder='username...'>
  </div>
  <div class='mb-4'>
    <label class='form-label' for='password'>Password</label>
    <input type='text' class='form-control' id='password' th:field='*{password}' placeholder='password...'>
  </div>
  <div class='mt-3'>
    <button type='submit' class='btn btn-primary'>Enregistrer</button>
  </div>
</form>
</div>
</div>
</div>
</body>
</html>