<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Login</p>
    <form action="/checkLogin" method="post">
        <input type="text" name="username" id="" placeholder="Entry your username">
        <br>
        <input type="password" name="password" id="" placeholder="Entry your password">
        <br>
        <input type="submit" value="Login">
    </form> 
</body>
</html>